@import url('https://fonts.cdnfonts.com/css/miama');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    background: linear-gradient( rgb(17,17,17) 100%, rgba(119,119,119,0) 80% )
}
.header{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    color: rgb(230, 83, 60);
font-family: Inter;
font-size: 30px;
font-weight: 800;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
justify-content: space-between;

max-width: 100%;
}
.information{
    margin-top: 25px;
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 400;
height: 50px;
width: 460px;
display: flex;
justify-content: space-between;


}
.button{
    border-radius: 46px;

    background: rgb(230, 83, 60);
    margin-right: 15px;
  
}
.home{
    height: 40px;
    width: 90px;
    border: none;
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: center;
}
.hamburger{
    display: none;
    color: white;
    margin-top: 30px;
}
.fa-solid{
    margin-top: 40px;
}
.intro{
    display: flex;
    justify-content: space-between;
    margin-left: 13%;
    margin-right: 13%;
    padding: 0;
}
.words{
    width: 520px;
}
.title{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 78px;
font-weight: 900;
line-height: 120%;
text-align: left;
margin-bottom: 0;
}
.miami{
    font-family: miama;
    Font-weight: 400;
    Font-size: 78px;
    
}
.description{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;}

.picture>img {
    margin-top: -10px;
    height: 580px;
    width: 350px;
}
.button-property{
    height: 55px;
    width: 225px;
    border-radius: 26px;
}
.join{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0px;
text-align: center;
border: none;
}
.download{
font-family: Inter;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0px;
text-align: center;
box-sizing: border-box;
border: 1px solid rgb(255,255,255);
border-radius: 42px;
background-color: none;
background-color: rgb(17,17,17);
color: rgb(255, 255, 255);

}
.card-title{
    color: rgb(255, 255, 255);
   
font-family: Inter;
font-size: 24px;
font-weight: 900;
letter-spacing: 0.3px;
text-align: left;

margin-bottom: 0%;
}
.card-1{
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.1);
position: absolute;
width: 206px;
height: 96px;
left: 64.5%;
top: 56%;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;

backdrop-filter: blur(10px);
background: rgba(48, 48, 48, 0.54);}

.golla{
width: 40px;
height: 40px;
border-radius: 50%;
background: rgb(230, 83, 60);
margin-top: 28px;
margin-left: 23px;
margin-bottom: 28px;
}
.card-des{
    color: rgba(247, 247, 246, 0.65);
font-family: Inter;
font-size: 16px;
font-weight: 400;
text-align: left;
margin: 0;
margin-right: 20px;


}
.card-lekha{
    height: 40px;
    width: 120px;
   
}
.card-2{
position: absolute;
width: 193px;
height: 98px;
left: 81%;
top: 26%;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;

backdrop-filter: blur(20px);
background: rgba(255, 255, 255, 0.1);
}
.card-2-title{
    color: rgb(255, 255, 255);
   
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 0.3px;
    text-align: center;
    margin-bottom: 0%;
}
.card-2-des{
    color: rgba(255, 255, 255, 0.65);
   
    font-family: Inter;
    margin-left: 25px;
    margin-top: 5px;
    width: 100%;

}

@media screen and (max-width:576px) {
   
      .hamburger{
        display: contents;
        margin-top: 70px;
      }
      .information{
        display: none;
        margin-right: 5%;
    margin-left: 80%;
    }
    .intro{
        display: grid;
        flex-direction: column;
    }
    .card-1{
        top: 136%;
        left: 8%;
    }
    .card-2{
        top: 115%;
        left: 50%;
    }
    .picture>img{
        padding-top: 48px;
    }
    .information{
        margin-left: 20%;
    }
}