@import url('https://fonts.cdnfonts.com/css/miama');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


body{
    background: linear-gradient( rgb(17,17,17) 100%, rgba(119,119,119,0) 80% )
}
.header{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    color: rgb(230, 83, 60);
font-family: Inter;
font-size: 30px;
font-weight: 800;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
justify-content: space-between;

max-width: 100%;
}
.information{
    margin-top: 25px;
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 400;
height: 50px;
width: 460px;
display: flex;
justify-content: space-between;


}
.button{
    border-radius: 46px;

    background: rgb(230, 83, 60);
    margin-right: 15px;
  
}
.home{
    height: 40px;
    width: 90px;
    border: none;
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: center;
}
.hamburger{
    display: none;
    color: white;
    margin-top: 30px;
}
.fa-solid{
    margin-top: 40px;
}
.intro{
    display: flex;
    justify-content: space-between;
    margin-left: 13%;
    margin-right: 13%;
    padding: 0;
}
.words{
    width: 520px;
}
.title{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 78px;
font-weight: 900;
line-height: 120%;
text-align: left;
margin-bottom: 0;
}
.miami{
    font-family: miama;
    Font-weight: 400;
    Font-size: 78px;
    
}
.description{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;}

.picture>img {
    margin-top: -10px;
    height: 580px;
    width: 350px;
}
.button-property{
    height: 55px;
    width: 225px;
    border-radius: 26px;
}
.join{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0px;
text-align: center;
border: none;
}
.download{
font-family: Inter;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0px;
text-align: center;
box-sizing: border-box;
border: 1px solid rgb(255,255,255);
border-radius: 42px;
background-color: none;
background-color: rgb(17,17,17);
color: rgb(255, 255, 255);

}
.card-title{
    color: rgb(255, 255, 255);
   
font-family: Inter;
font-size: 24px;
font-weight: 900;
letter-spacing: 0.3px;
text-align: left;

margin-bottom: 0%;
}
.card-1{
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.1);
position: absolute;
width: 206px;
height: 96px;
left: 60%;
top: 74%;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;

backdrop-filter: blur(10px);
background: rgba(48, 48, 48, 0.54);}

.golla{
width: 40px;
height: 40px;
border-radius: 50%;
background: rgb(230, 83, 60);
margin-top: 28px;
margin-left: 23px;
margin-bottom: 28px;
}
.card-des{
    color: rgba(247, 247, 246, 0.65);
font-family: Inter;
font-size: 16px;
font-weight: 400;
text-align: left;
margin: 0;
margin-right: 20px;


}
.card-lekha{
    height: 40px;
    width: 120px;
   
}
.card-2{
position: absolute;
width: 193px;
height: 98px;
left: 78%;
top: 32%;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;

backdrop-filter: blur(20px);
background: rgba(255, 255, 255, 0.1);
}
.card-2-title{
    color: rgb(255, 255, 255);
   
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 0.3px;
    text-align: center;
    margin-bottom: 0%;
}
.card-2-des{
    color: rgba(255, 255, 255, 0.65);
   
    font-family: Inter;
    margin-left: 25px;
    margin-top: 5px;
    width: 100%;

}
.habbit-title{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;
text-align: center;
}
.habits{
    background-color: rgb(0, 0, 0);
    padding-right: 100px;
    padding-left: 100px;
    height: 100%;
    margin-top: 100px;
    padding-top: 100px;

}
.habbit-des{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
}
 .exercise1>img{
    border-radius: 50%;
    padding-left: 30px;
    height: 205px;
    width: 205px;
}



.exercises{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin-top: 100px;
    padding-bottom: 100px;
}
.exercise-title{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-left: 30px;
    font-family: Inter;
}
.exercise-des{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
text-align: center;
}
.section{
    background-color: rgb(0, 0, 0);
}
.run{
    background-color: rgb(17,17,17);
    width: 1060px;
   height: 370px;
margin-left: 200px;
margin-right: 200px;
border-radius: 20px;
display: flex;
justify-content: space-between;
padding-left: 50px;
padding-right: 50px;
padding-top: 50px;
}
.run>img{
    object-fit: none;
    object-position: 66% 33%;
    border-radius: 18px;
    width: 366px;
height: 312px;

}
.run-title{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
width: 443px;
height: 116px;

}
.run-des{
    width: 443px;
height: 72px;
color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
text-align: left;


}
.bmi-title{
    margin-left: 27%;
    text-align: left;
    margin-top: 100px; 
    margin-bottom: 14px ;  
    padding-bottom: 0%;
    font-family: Inter;
font-size: 48px;
font-weight: 900;
color: rgb(255, 255, 255);
font-size: 48px;
font-weight: 900;
}
.bmi-des{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
letter-spacing: 0.3px;
text-align: left;
margin-left: 27%;
margin-top: 0%;
margin-bottom: 100px;
margin-right: 300px;
}
.chart{
    height: 487px;
    width: 100%;
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
    
}
.chart-title{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 28px;
font-weight: 900;
margin-left: 27%;
margin-top: 50px;
}
.calculator{
    margin-left: 120px;
}

tr{
    
    display: flex;
    color: aliceblue;
    
}
table{
    
    
    display: flex;
    margin-left: 27%;
    
}
td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    font-weight: 700;
    width: 140px;
    
}

.p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
padding-left: 10px;
padding-right: auto;
padding-top: 10px;
padding-bottom: 10px;
margin: 0;

}
.pt{
    color: rgb(255, 255, 255)s;
font-family: Inter;
font-size: 14px;
font-weight: 400;
padding-left: 10px;
padding-right: auto;
padding-top: 10px;
padding-bottom: 10px;
margin: 0;
}
.cyb{
    height: 386px;
    width: 577px;
    margin-right: 189px;
}
.cyb-title{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 28px;
font-weight: 900; 
text-align: left;
margin-top: 45px;
margin-left: 12px;
}
.cyb-des{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
letter-spacing: 0.3px;
text-align: left;
margin: 0%;
margin-left: 12px;
}
.input1, .input2, .input3, .input4, .input5{
    border-radius: 8px;
    width: 280px;
    height: 50px;
    margin-left: 12px;
    margin-bottom: 12px;
background: rgba(255, 255, 255, 0.1);
border: 0;

color: rgba(255, 255, 255, 0.6);
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0px;
text-align: left;
padding-left: 12px;
justify-content: center;

}
.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    margin-top: 35px;

}
.input5{
    width: 580px;
}
i{
    position: relative;
    
}
.i1{top: -75px;
    left: 229px;

}
.i2{
    top: -74px;
    left: 525px;
}
.cyb>button{
    margin-left: 15px;
    margin-top: -30px;
}
.mot>h1{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;

text-align: center;
margin-top: 100px;
margin-bottom: 0;
}
.mot>p{
   
        color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
text-align: center;
margin-top: 15px;
width: 670px;
margin-left: 19%;

}
.mot{
    height: 884px;
    width: 1060px;
    margin-left: 15%;
    padding-top: 10px;

}
.trainer{
    width: 326.67px;
height: 272px;

margin-left: 20px;
border-radius: 18px;

}
.mot-img{
    border-radius: 18px;

background: rgba(255, 255, 255, 0.1);
padding-bottom: 20px;
display: grid;
grid-template-columns: repeat(3, 326.67px);
gap: 20px;
padding-top: 20px;
margin-top: 60px;

}
footer{
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 100px;
    
}
.section1{
    width: 275px;
    height: 450px;
}
.section1>h1{
    color: rgb(230, 83, 60);
font-family: Inter;
font-size: 70px;
font-weight: 800;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}
.section1>p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
text-align: left;
}
.section2>h1, .section3>h1{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 32px;
font-weight: 700;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
margin-top: 60px;
}
.section2>ul, .section3>ol {
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 23px;
font-weight: 400;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
text-decoration: none;
list-style: none;
margin-left: -40px;
margin-bottom: 30px;
}
.section2>ul>li, .section3>ol>li{
    margin-bottom: 10px;
}
.section3{
    margin-right: 150px;
}
.section1{
    margin-left: 100px;
}
.last1{
    background-color: rgba(255, 255, 255, 0.1);
}
.last>p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
text-align: left;
margin-top: 35px;
margin-left: 550px;
padding-bottom: 35px;
}
.last>hr{
    margin: 0;
    border: 2px solid rgba(255, 255, 255, 0.1);
    width: 1059.5px;
    margin-left: 180px;
}
@media screen and (max-width:576px) {
   
      .hamburger{
        display: contents;
        margin-top: 70px;
      }
      .information{
        display: none;
        margin-right: 5%;
    margin-left: 80%;
    }
    .intro{
        display: grid;
        flex-direction: column;
    }
    .card-1{
        top: 144%;
        left: 8%;
    }
    .card-2{
        top: 115%;
        left: 50%;
    }
    .picture>img{
        padding-top: 48px;
    }
    .information{
        margin-left: 20%;
    }
    .exercises{
        flex-direction: column;
        padding: 0;
        align-items: center;
       margin-left: 30%;
    }
    .exercise-title{
        width: 100%;
        padding: 0;
        margin-left: -50px;

    }
    .exercise-des{
        padding: 0;
        text-align: center;
        margin-right: 100px;
    }
    .exercise1>img{
        margin-left: -50px;
    }
    .run{
        margin: 0;
        Width:353px;
        height: 531px;
        flex-direction: column;
        margin-left: 30px;
        width: 430px;
        
        height: 690px;
    }
    .run>img{
        margin: 0;
        margin-top: 40px;
        width: 450px;
        height: 500px;
        margin-bottom: 40px;
    }
    .chart{
        flex-direction: column;
        width: 100%;
        margin-left: 20px;
        height: 780px;
    }
    .calculator{
        margin-left: 20px;
    }
    .chart-title{
        margin-left: 0;
    }
    table{
        margin-left: 0px;
    }
    td{
        width: 200px;
    }
    .cyb{
        height: 426px;
    }
    .cyb-title{
        margin-top: 0;
    }
    .input1, .input2, .input3, .input4, .input5 {
        width: 255px;

    }
    .input5{
        width: 543px;
    }
    .i2{
        left: 517px;
    }
    .mot-img{
        grid-template-columns: repeat(1, 445px);
        align-items: center;
    }
    .mot{
        width: 440px;
        margin-right: 20px;
    }
    .trainer{
        width: 400px;
        height: 300px;
    }
    .mot>p{
        margin: 0;
        width: auto;
    }
    footer{
        margin-top: 1500px;
        flex-direction: column;
    }
    .section1, .section2, .section3{
        margin-left: 20px;
        height: auto;
    }
    .last>hr{
        margin-left: 20px;
        width: 500px;
    }
    .last>p{
        margin-left: 20px;
        text-align: center;
}
}